# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers générés par l'environnement virtuel Python
venv/

# Fichiers de logs
*.log

# Fichiers de données
*.db

# Dossier contenant les fichiers statiques générés par Flask
static/assets/

# Fichiers de configuration locaux
instance/

# Fichiers spécifiques à l'IDE
.vscode/

# Fichiers générés par Docker
.docker/

# Fichiers de dépendances Python
pip-log.txt

# fichier de configuration
config.ini