<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimal Route Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Optimal Route Finder</h1>
    <form action="/calculate" method="post">
        <label for="positions">Enter GPS positions (latitude, longitude):</label><br>
        <textarea id="positions" name="positions" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Calculate Optimal Route">
    </form>
    <div>
        <h1>Exemple</h1>
        <div>
            <pre>48.8584, 2.2945
48.8606, 2.3376
48.8530, 2.3499
48.8738, 2.2950
48.8867, 2.3431
48.8609, 2.3267
48.8698, 2.3075
48.8635, 2.3274
48.8462, 2.3447
48.8656, 2.3212
48.8556, 2.3158
48.8670, 2.3290
48.8606, 2.3522
48.8721, 2.3316
48.8462, 2.3372
48.8543, 2.3686
48.8558, 2.3457
48.8718, 2.3632
48.8523, 2.3709
48.8599, 2.3629</pre>
                
        </div>
    </div>
</body>
</html>
